@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
.tech-font {
    font-family: 'Share Tech Mono', monospace;
}
.truncated-txt {
    max-height: 6em;
    text-align: justify;
    line-height: 1.2em; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 -1em 0 0.2em;
    padding-right: 2em;
}
.truncated-txt::before {
    content: "...";
    position: absolute;
    bottom: 1.15em;
    right: 22px;
}

@media only screen and (max-width: 767px) {
    .truncated-txt {
        max-height: 8.4em;
    }
    .h3 {
        font-size: 1.40rem;
    }
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
@media only screen and (min-width: 1024px) {
    .card-columns {
        column-count: 3;
    }
}